.about-container {
  display: flex;
  align-items: center;
}

.videocall {
  width: 425px;
}
p {
  width: 25rem;
  padding: 10px;
  font-size: bolder;
  color: purple;
}
.hello {
  color: white;
  transform: translate(75px, -7.5rem);
  font-size: 50px;
  font-weight: lighter;
  position: absolute;
}
@media only screen and (max-width: 640px) {
  .hello {
    color: white;
    transform: translate(-6.5rem, -8.5rem);
    font-size: 50px;
    font-weight: lighter;
    position: absolute;
  }
}

@media only screen and (max-width: 1000px) {
  p {
    font-size: medium;
  }
}
@media only screen and (max-width: 880px) {
  p {
    width: 200px;
    padding: 10px;
    font-size: small;
  }
}
@media only screen and (max-width: 640px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
  p {
    width: 80%;
    padding: 10px;
    font-size: small;
  }
}
