.logo {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  margin-right: 3.5rem;
}
.logo-img {
  width: 225px;
}
.logo-img:hover {
  filter: brightness(1.5);
}

@media only screen and (max-width: 1024px) {
  .logo {
    display: flex;
    justify-content: space-between;
    margin-left: 9rem;
  }
  @media only screen and (max-width: 768px) {
    .logo {
      margin-right: 2rem;
    }
  }
  @media only screen and (max-width: 640px) {
    .logo {
      display: flex;
      justify-content: center;
      margin-left: 0.5rem;
    }
  }
}
