.phone-landingPage {
  width: 425px;
  position: fixed;
}
.contenedor {
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 290px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  position: absolute;
}
.Aboutnav {
  transform: translate(-1.5rem, 3vh);
  text-decoration: none;
  color: purple;
}
.Aboutnav:hover {
  filter: brightness(1.5);
}
.Shopnav {
  transform: translate(-1.5rem, 7rem);
  text-decoration: none;
  color: purple;
}
.Shopnav:hover {
  filter: brightness(1.5);
}
.Worknav {
  transform: translate(-1.5rem, 13rem);
  text-decoration: none;
  color: purple;
}
.Worknav:hover {
  filter: brightness(1.5);
}
